:root{
    --fundo:#000a99b7;
    --cartao-frente:#483d8b; 
    --cartao-verso:#191970;
    --destaque:rgb (255, 123, 0);
    --preto:#000000;
    --branco:#ffffff;  
}

body{
    background-color: var(--fundo);
}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}
#container{
    display: flex;
    flex-wrap: wrap;
    padding: 3 rem;
    gap: 3 rem;
    justify-content: space-between;
   
}

.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem) ;
    height: 20 rem;
    margin: 1 rem;
}

.conteudo-cartao{
    background-color: var(--cartao-frente);
    text-align: center;
    height: 100%;
    color: var(--branco);
}

.conteudo-cartao h3{
    color: var(--destaque);
    border: 1 px solid var(--destaque);
    text-align: left;
    position: absolute;
    padding: 0.5 rem;
    margin: 0.5 rem;
    border-radius: 0.6 rem;
    font-size: lvw;
    backface-visibility: hidden;

}

.conteudo-cartao p{
    margin-top: 4 rem;
    font-size: 1.4 vw;
    padding: 2 rem;
}

.pergunta-cartao{
    color: var(--branco);
    font-weight: 500;

}

.resposta-cartao{
    color: var(--destaque);
    font-weight: 700;

}

.cartao:hover .conteudo-cartao{
    transform: rotateY('180eg');
}
.pergunta-cartao, .resposta-cartao{
    backface-visibility: hidden;
}